[user]
        name = David Dovel
        email = davey5555@gmail.com
[core]
        excludesfile = /Users/david/.gitignore_global
        editor = subl -n -w
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[push]
        default = matching
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
[alias]
        st = status -sb
        discard = "!git reset --hard; git clean -f; git status"
        sync = "!git pull; git push"
        unstash = stash pop
        qc = commit -a -m
        